@{
  Layout = "_Layout";
}

@using DoctorsOffice.Models;
@model List<DoctorsOffice.Models.Patient>;

<h1>Patients</h1>

@if (@Model.Count == 0)
{
  <h3>No Patients have been added yet!</h3>
} 

@foreach (Patient patient in Model)
{
  @if (patient.Completed == false)
  {
    <li>@Html.ActionLink($"{patient.Name}", "Details", new { id = patient.PatientId }) | Not Visited
    @using (Html.BeginForm("MarkCompleted", "Patients"))
      {
        @Html.Hidden("PatientId", @patient.PatientId)
        <input type="submit" value="Mark @patient.Name as Visited"/>
      }
    </li>
  }
  else
  {
    <li>@Html.ActionLink($"{patient.Name}", "Details", new { id = patient.PatientId }) | Visited </li>
  }
}

<p>@Html.ActionLink("Add new Patient", "Create")</p>